body {
    background: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
}

nav {
      border-bottom: 2px rgb(17, 144, 218);
}

ol {
      padding-left: 0;
}

  .crumb {
      margin-right: 2em;
      display: inline;
}

a {
      color: rgb(17, 144, 218);
}

input {
      display: block;
}

body {
      height: 50vh;
      width: 100vw;
      font-family: "Open Sans", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: gainsboro;
}

button {
      color: rgb(17, 144, 218);
}

#cart-area {
    background: white;
    padding: 20px;
    border-radius: 20px;
}
